<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Hello Spring Boot!</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="/webjars/bootstrap/css/bootstrap.min.css"
          media="screen"
          rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link href="../../static/css/core.css"
          media="screen"
          rel="stylesheet" th:href="@{/css/core.css}"/>
    <script src="/webjars/jquery/jquery.min.js"
            th:src="@{/webjars/jquery/jquery.min.js}"></script>
</head>
<body>
<!-- Header -->
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div layout:fragment="content">
        <p>Content goes here...</p>
    </div>
    <footer>
        <div th:replace="fragments/footer :: footer"/>
    </footer>
</div>
</body>
</html>
